todo.sh
srv.txt
server_id.txt
.server_id
announcements.txt
bt.txt
build.txt
crashes.txt
log_gdb.txt
paste.txt
raw_build.txt
raw_gdb.txt
status.txt
*.acc
*_playerdata.dat
*.db
*.dtb
*.sqlite
*.cfg
*.cnf
*.map
*.log
*_srv
*_srv_old
*_srv_d
*_srv_d_old
chillerbotFC_*
lib/tmp
lib/var
lib/plugins
bin/
cfg/
votes/
data/
!lib/test/unit/data/
maps/
maps7/
maps7
records/
logs/
core_dumps/
stats/
stats_failed/
types/
tags
.gdb_history
failed_sql.sql
votes_raw.txt
votes_count.txt
votes_lower.txt
