todo.sh
srv.txt
server_id.txt
.server_id
announcements.txt
bt.txt
build.txt
crashes.txt
log_gdb.txt
paste.txt
raw_build.txt
raw_gdb.txt
status.txt
*.acc
*_playerdata.dat
*.db
*.dtb
*.cfg
*.cnf
*.map
*.log
*_srv
*_srv_old
*_srv_d
*_srv_d_old
chillerbotFC_*
lib/tmp
lib/var
bin/
cfg/
votes/
data/
maps/
records/
logs/
core_dumps/
stats/
stats_failed/
types/
tags
.gdb_history
failed_sql.sql
